<div class= "jumbotron center">
	<h1>Welcome, Welcome! </h1>
<% if user_signed_in? %>
          WUDDUP HOMIES! 
     <% else %>
       <p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up, if you dare", "#", class: "btn btn-primary" %>
		</p>
	<% end %>
</div>
